# Ignore everything by default
*

!*.pdf
!.gitignore
# Allow directories (so git can traverse into them)
!*/

# Track only Verilog source files
!*.v

# Optional: if you also want SystemVerilog
!*.sv

# Vivado project files to ignore
*.xpr
*.xpr.lock
*.jou
*.log
*.str
*.pb
*.dcp
*.rpx
*.html
*.xml
*.txt
*.ltx
*.bit
*.bin
*.mmi
*.str
*.jou
*.log
*.wpc
*.wdf
*.bxml
# unneccessary comments
# Vivado-generated directories
.cache/
.hw/
.ip_user_files/
.sim/
.runs/
.srcs/
.gen/
.xil/


# OS-specific junk
.DS_Store
Thumbs.db
